.spacer {
  margin-left: 10px;
  margin-right: 10px;
}

.gfg {
  filter: blur(5px);
  width: 100%;
  height: 300px;
}

.proj-titles {
  font-family: merriweather sans-serif;
  font-size: 1.5rem;
}

.logo {
  text-align: center;
  /* transform: translatex(-%); */
  position: absolute;
  font-size: 18px;
  /* top: 50px; */
  left: 20%;
  color: white;
}

.container {
  margin-top: 140px;
  display: grid;
  grid-template-columns: (10%);
  margin-left: 2vw;
  margin-right: 5vw;
  margin-bottom: 10vh;
  padding: 20px;
}

.fields {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  font-family: "Playfair Display", sans-serif;
  font-size: 1.7rem;
  color: #333333;
  text-align: center;
}
.pm {
  transform: translateY(150%);
  color: #333333;
}

.bpa {
  transform: translateY(300%);
  color: #333333;
}

.soft-dev {
  color: #333333;
}

h1,
p {
  border: 4px solid white;
  padding: 10px 50px;
  position: relative;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

h1:hover {
  background: -webkit-linear-gradient(green, lime);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  outline: 4px solid darkgrey; /* Set the outline */
  outline-offset: -2px; /* Adjust the distance between the outline and the element */
  width: 50%; /* Limit the width to 50% */
  transition: 0.2s;
  transform: translateX(50%); /* Move the element 50% to the right */
  box-sizing: border-box;
}

background-clip: text;
-webkit-text-fill-color: transparent;
border: 9px solid hotpink;
transition: 0.2s;

.logo button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.logo button:hover {
  background-color: green;
  color: white;
}

.indent-text {
  text-indent: 25px;
}

.btn {
  background-color: #962525;
  border: 2px solid #45a049;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 12px 22px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 12px;
}

.btn:hover {
  background-color: #45a049;
  border: 12px solid red;
  color: white;
}

.navbar {
  display: flex;
  background-color: #594150;
  border-left: px solid #45a049;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

#projects li {
  margin-bottom: 1.5em; /* Adds space between each <li> item */
}

.project-brief {
  margin-top: 0.3em;
  font-style: italic;
  color: #555;
}

.biography {
  font-family: lato;
  color: #333333;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 20px 0;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
}
.built-with {
  margin-top: 0.3em;
  font-style: italic;
  color: #555;
}

.technology-used {
  margin-top: -2em;
  font-style: italic;
  color: #555;
}

.project-link {
  margin-top: 0.3em;
  font-style: italic;
  color: #555;
  margin-right: 10px;
  border-bottom: 1pt solid #555;
}

.body-container {
  display: block;
  justify-content: center;
  align-items: center;
}
